<div class="main-container d-flex justify-content-center flex-column">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column bg-light w-50 border rounded p-2">
      <h2 class="align-self-center border-bottom pr-2 pl-2 mt-3">Sign up</h2>
      <form class="d-flex flex-column w-100">
        <input [(ngModel)]="user.email"
               name="email"
               class="w-75 align-self-center mt-3 p-2"
               type="text"
               placeholder="Email">
        <input [(ngModel)]="user.password"
               name="password"
               class="w-75 align-self-center mt-3 p-2"
               type="password"
               placeholder="Password">
        <input [(ngModel)]="user.confirmPassword"
               name="password"
               class="w-75 align-self-center mt-3 p-2"
               type="password"
               placeholder="Confirm password">
        <button (click)="registration()"
                class="w-75 align-self-center mt-3 p-2 btn btn-primary">Sign up</button>
      </form>
      <div class="align-self-center">
        <p>
          Already have an account?
          <a class="text-red"
             routerLink="/login">Sign in!</a>
        </p>
      </div>
    </div>
  </div>
</div>

