<div *ngIf="cinemas"
     class="d-flex justify-content-center">
  <div class="w-75 d-flex bg-light p-4 mt-4 border rounded">
    <div class="d-flex flex-column">
      <div class="cursor-pointer d-flex justify-content-between mt-3 p-2 border-bottom"
           *ngFor="let cinema of cinemas"
           (click)="viewCinema(cinema.id)">
        <img class="mr-2 w-25"
             src="{{cinema.image}}"
             alt="image"
             height="170">
        <div class="mr-2 w-75">
          <div class="font-weight-bold">{{cinema.title}}</div>
          <div class="mt-2">{{cinema.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
